<div class="aside">
    <div class="signup-form signup-form--sidebar">
        <div class="signup-form__text">
            <h4 class="signup-form__title">
                <img src="https://www.jscooks.com/-res/img/email.svg" alt="">
                <span>Join 1,000+ developers</span>
            </h4>
            <p class="signup-form__sub">
                Get latest articles &amp; exclusive course discounts. Stay in the loop from your inbox.
            </p>
        </div>
        
        {% include nl.html %}
        
    </div>
</div>
