<div class="aside">
    <div class="signup-form signup-form--sidebar">
        <div class="signup-form__text">
            <h4 class="signup-form__title">
                <img src="https://www.jscooks.com/-res/img/email.svg" alt="">
                <span>Join 1,000+ developers</span>
            </h4>
            <p class="signup-form__sub">
                Get latest articles &amp; exclusive course discounts. Stay in the loop from your inbox.
            </p>
        </div>
        <div class="mc_embed_signup">
            <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                        <input type="email" placeholder="Email address" name="EMAIL" class="required email" id="mce-EMAIL" required="">
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="" tabindex="-1" value=""></div>
                    <div class="clear">
                        <button type="submit" name="subscribe">
                            Get updates
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
