<ul id="filters" class="filters">
    <li class="current"><a href="#" data-filter="*">All</a></li>
    <li><a href="#"><img src="uploads/js.svg" alt="">JavaScript</a></li>
    <li><a href="#"><img src="uploads/angularjs.svg" alt="">AngularJS</a></li>
    <li><a href="#"><img src="uploads/angular.svg" alt="">Angular</a></li>
    <li><a href="#"><img src="uploads/typescript.svg" alt="">Typescript</a></li>
    <li><a href="#"><img src="uploads/react.svg" alt="">React</a></li>
    <li><a href="#"><img src="uploads/node.svg" alt="">Node</a></li>
    <li><a href="#"><img src="uploads/rxjs.svg" alt="">RxJS</a></li>
    <li><a href="#"><img src="uploads/css.svg" alt="">CSS</a></li>
    <li><a href="#"><img src="uploads/career.svg" class="career" alt="">Career</a></li>
</ul>
