<ul id="filters" class="filters">
    <li class="current"><a href="#">All</a></li>
    <li><a href="https://www.jscooks.com/"><img src="https://www.jscooks.com/-res/img/js.svg" alt="JS">JavaScript</a></li>
    <li><a href="https://www.jscooks.com/filter/angular-js"><img src="https://www.jscooks.com/-res/img/angularjs.svg" alt="AngularJS">AngularJS</a></li>
    <li><a href="https://www.jscooks.com/filter/angular"><img src="https://www.jscooks.com/-res/img/angular.svg" alt="Angular">Angular</a></li>
    <li><a href="https://www.jscooks.com/filter/typescript"><img src="https://www.jscooks.com/-res/img/typescript.svg" alt="Typescript">Typescript</a></li>
    <li><a href="https://www.jscooks.com/filter/react"><img src="https://www.jscooks.com/-res/img/react.svg" alt="React">React</a></li>
    <li><a href="https://www.jscooks.com/filter/node"><img src="https://www.jscooks.com/-res/img/node.svg" alt="Node">Node</a></li>
    <li><a href="https://www.jscooks.com/filter/rxjs"><img src="https://www.jscooks.com/-res/img/rxjs.svg" alt="RxJS">RxJS</a></li>
    <li><a href="https://www.jscooks.com/filter/css"><img src="https://www.jscooks.com/-res/img/css.svg" alt="CSS">CSS</a></li>
    <li><a href="https://www.jscooks.com/filter/career"><img src="https://www.jscooks.com/-res/img/career.svg" class="career" alt="Career">Career</a></li>
</ul>
