<header class="header" id="masthead" role="banner">
    <a class="menu-toggle toggle-link" id="menu-toggle"></a>
    <h1 class="site-title mobile-title"><a href="./">JS COOKS</a></h1>
    <div class="header-wrap">
        <a href="https://www.jscooks.com"><img alt="JS Cooks" src="https://www.jscooks.com/-res/logo_jcoox.svg" class="logo"></a>
        
        {% include navigation.html %}
        
        <div class="header-bottom">
            <div class="textwidget">
            
                {% include social.html %}
                
            </div>
            <div class="copy-text">
                <div class="widget_text" id="text-2">
                    <div class="textwidget">
                        <p>&copy; 2017 JSCooks</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
