<head>
    <meta charset="UTF-8">
    <meta content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>JS Cooks</title>
    <link href='//fonts.googleapis.com' rel='dns-prefetch'>
    <link href='//s.w.org' rel='dns-prefetch'>
    <link href="feed/" rel="alternate" title="JS Cooks" type="application/rss+xml">
    
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700&#038;subset=latin' id='montserrat-css' media='all' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic&#038;subset=latin' id='roboto-css' media='all' rel='stylesheet' type='text/css'>
    <!-- <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet"> -->
    <link href='https://www.jscooks.com/-res/css/main.css' media='all' rel='stylesheet' type='text/css'>

    <link href="https://www.jscooks.com/-res/logo_jcoox.png" rel="icon" sizes="32x32">
    <link href="https://www.jscooks.com/-res/logo_jcoox.png" rel="icon" sizes="192x192">
    <link href="https://www.jscooks.com/-res/logo_jcoox.png" rel="apple-touch-icon-precomposed">
    <meta content="https://www.jscooks.com/-res/logo_jcoox.svg" name="msapplication-TileImage">
</head>
