<ul class="social">
    <li>
        <a class="youtube" href="#" target="_blank">
            <img src="-res/img/youtube.svg" alt="">
        </a>
    </li>
    <li>
        <a class="twitter" href="#" target="_blank">
            <img src="-res/img/twitter.svg" alt="">
        </a>
    </li>
    <li>
        <a class="github" href="#" target="_blank">
            <img src="-res/img/github.svg" alt="">
        </a>
    </li>
    <li>
        <a class="facebook" href="#" target="_blank">
            <img src="-res/img/facebook.svg" alt="">
        </a>
    </li>
</ul>
