hr,
img,
legend {
    border: 0
}
legend,
td,
th {
    padding: 0
}
body,
figure {
    margin: 0
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden],
template {
    display: none
}
a {
    background-color: transparent;
    text-decoration: none
}
a:active,
a:hover {
    outline: 0
}
abbr[title] {
    border-bottom: 1px dotted
}
b,
optgroup,
strong {
    font-weight: 700
}
dfn {
    font-style: italic
}
h1 {
    font-size: 2em;
    margin: .67em 0
}
mark {
    background: #ff0;
    color: #000
}
.img-thumbnail,
body {
    background-color: #fff
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
img {
    vertical-align: middle
}
svg:not(:root) {
    overflow: hidden
}
hr {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}
pre,
textarea {
    overflow: auto
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}
button {
    overflow: visible
}
button,
select {
    text-transform: none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled],
html input[disabled] {
    cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}
input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}
body {
    /*font-family: 'Sanchez', serif;*/
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}
a:focus,
a:hover {
    color: #fbdca7;
    text-decoration: underline
}
a:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}
.img-rounded {
    border-radius: 6px
}
.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto
}
.img-circle {
    border-radius: 50%
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #eee
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}
.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}
[role=button] {
    cursor: pointer
}
@media (min-width: 768px) {
    .container {
        width: 750px
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}
.row {
    margin-left: -15px;
    margin-right: -15px
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left
}
.col-xs-12 {
    width: 100%
}
.col-xs-11 {
    width: 91.66666667%
}
.col-xs-10 {
    width: 83.33333333%
}
.col-xs-9 {
    width: 75%
}
.col-xs-8 {
    width: 66.66666667%
}
.col-xs-7 {
    width: 58.33333333%
}
.col-xs-6 {
    width: 50%
}
.col-xs-5 {
    width: 41.66666667%
}
.col-xs-4 {
    width: 33.33333333%
}
.col-xs-3 {
    width: 25%
}
.col-xs-2 {
    width: 16.66666667%
}
.col-xs-1 {
    width: 8.33333333%
}
.col-xs-pull-12 {
    right: 100%
}
.col-xs-pull-11 {
    right: 91.66666667%
}
.col-xs-pull-10 {
    right: 83.33333333%
}
.col-xs-pull-9 {
    right: 75%
}
.col-xs-pull-8 {
    right: 66.66666667%
}
.col-xs-pull-7 {
    right: 58.33333333%
}
.col-xs-pull-6 {
    right: 50%
}
.col-xs-pull-5 {
    right: 41.66666667%
}
.col-xs-pull-4 {
    right: 33.33333333%
}
.col-xs-pull-3 {
    right: 25%
}
.col-xs-pull-2 {
    right: 16.66666667%
}
.col-xs-pull-1 {
    right: 8.33333333%
}
.col-xs-pull-0 {
    right: auto
}
.col-xs-push-12 {
    left: 100%
}
.col-xs-push-11 {
    left: 91.66666667%
}
.col-xs-push-10 {
    left: 83.33333333%
}
.col-xs-push-9 {
    left: 75%
}
.col-xs-push-8 {
    left: 66.66666667%
}
.col-xs-push-7 {
    left: 58.33333333%
}
.col-xs-push-6 {
    left: 50%
}
.col-xs-push-5 {
    left: 41.66666667%
}
.col-xs-push-4 {
    left: 33.33333333%
}
.col-xs-push-3 {
    left: 25%
}
.col-xs-push-2 {
    left: 16.66666667%
}
.col-xs-push-1 {
    left: 8.33333333%
}
.col-xs-push-0 {
    left: auto
}
.col-xs-offset-12 {
    margin-left: 100%
}
.col-xs-offset-11 {
    margin-left: 91.66666667%
}
.col-xs-offset-10 {
    margin-left: 83.33333333%
}
.col-xs-offset-9 {
    margin-left: 75%
}
.col-xs-offset-8 {
    margin-left: 66.66666667%
}
.col-xs-offset-7 {
    margin-left: 58.33333333%
}
.col-xs-offset-6 {
    margin-left: 50%
}
.col-xs-offset-5 {
    margin-left: 41.66666667%
}
.col-xs-offset-4 {
    margin-left: 33.33333333%
}
.col-xs-offset-3 {
    margin-left: 25%
}
.col-xs-offset-2 {
    margin-left: 16.66666667%
}
.col-xs-offset-1 {
    margin-left: 8.33333333%
}
.col-xs-offset-0 {
    margin-left: 0
}
@media (min-width: 768px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-11 {
        width: 91.66666667%
    }
    .col-sm-10 {
        width: 83.33333333%
    }
    .col-sm-9 {
        width: 75%
    }
    .col-sm-8 {
        width: 66.66666667%
    }
    .col-sm-7 {
        width: 58.33333333%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-5 {
        width: 41.66666667%
    }
    .col-sm-4 {
        width: 33.33333333%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-2 {
        width: 16.66666667%
    }
    .col-sm-1 {
        width: 8.33333333%
    }
    .col-sm-pull-12 {
        right: 100%
    }
    .col-sm-pull-11 {
        right: 91.66666667%
    }
    .col-sm-pull-10 {
        right: 83.33333333%
    }
    .col-sm-pull-9 {
        right: 75%
    }
    .col-sm-pull-8 {
        right: 66.66666667%
    }
    .col-sm-pull-7 {
        right: 58.33333333%
    }
    .col-sm-pull-6 {
        right: 50%
    }
    .col-sm-pull-5 {
        right: 41.66666667%
    }
    .col-sm-pull-4 {
        right: 33.33333333%
    }
    .col-sm-pull-3 {
        right: 25%
    }
    .col-sm-pull-2 {
        right: 16.66666667%
    }
    .col-sm-pull-1 {
        right: 8.33333333%
    }
    .col-sm-pull-0 {
        right: auto
    }
    .col-sm-push-12 {
        left: 100%
    }
    .col-sm-push-11 {
        left: 91.66666667%
    }
    .col-sm-push-10 {
        left: 83.33333333%
    }
    .col-sm-push-9 {
        left: 75%
    }
    .col-sm-push-8 {
        left: 66.66666667%
    }
    .col-sm-push-7 {
        left: 58.33333333%
    }
    .col-sm-push-6 {
        left: 50%
    }
    .col-sm-push-5 {
        left: 41.66666667%
    }
    .col-sm-push-4 {
        left: 33.33333333%
    }
    .col-sm-push-3 {
        left: 25%
    }
    .col-sm-push-2 {
        left: 16.66666667%
    }
    .col-sm-push-1 {
        left: 8.33333333%
    }
    .col-sm-push-0 {
        left: auto
    }
    .col-sm-offset-12 {
        margin-left: 100%
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }
    .col-sm-offset-9 {
        margin-left: 75%
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }
    .col-sm-offset-6 {
        margin-left: 50%
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }
    .col-sm-offset-3 {
        margin-left: 25%
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }
    .col-sm-offset-0 {
        margin-left: 0
    }
}
@media (min-width: 992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left
    }
    .col-md-12 {
        width: 100%
    }
    .col-md-11 {
        width: 91.66666667%
    }
    .col-md-10 {
        width: 83.33333333%
    }
    .col-md-9 {
        width: 75%
    }
    .col-md-8 {
        width: 66.66666667%
    }
    .col-md-7 {
        width: 58.33333333%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-5 {
        width: 41.66666667%
    }
    .col-md-4 {
        width: 33.33333333%
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-2 {
        width: 16.66666667%
    }
    .col-md-1 {
        width: 8.33333333%
    }
    .col-md-pull-12 {
        right: 100%
    }
    .col-md-pull-11 {
        right: 91.66666667%
    }
    .col-md-pull-10 {
        right: 83.33333333%
    }
    .col-md-pull-9 {
        right: 75%
    }
    .col-md-pull-8 {
        right: 66.66666667%
    }
    .col-md-pull-7 {
        right: 58.33333333%
    }
    .col-md-pull-6 {
        right: 50%
    }
    .col-md-pull-5 {
        right: 41.66666667%
    }
    .col-md-pull-4 {
        right: 33.33333333%
    }
    .col-md-pull-3 {
        right: 25%
    }
    .col-md-pull-2 {
        right: 16.66666667%
    }
    .col-md-pull-1 {
        right: 8.33333333%
    }
    .col-md-pull-0 {
        right: auto
    }
    .col-md-push-12 {
        left: 100%
    }
    .col-md-push-11 {
        left: 91.66666667%
    }
    .col-md-push-10 {
        left: 83.33333333%
    }
    .col-md-push-9 {
        left: 75%
    }
    .col-md-push-8 {
        left: 66.66666667%
    }
    .col-md-push-7 {
        left: 58.33333333%
    }
    .col-md-push-6 {
        left: 50%
    }
    .col-md-push-5 {
        left: 41.66666667%
    }
    .col-md-push-4 {
        left: 33.33333333%
    }
    .col-md-push-3 {
        left: 25%
    }
    .col-md-push-2 {
        left: 16.66666667%
    }
    .col-md-push-1 {
        left: 8.33333333%
    }
    .col-md-push-0 {
        left: auto
    }
    .col-md-offset-12 {
        margin-left: 100%
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%
    }
    .col-md-offset-9 {
        margin-left: 75%
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%
    }
    .col-md-offset-6 {
        margin-left: 50%
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%
    }
    .col-md-offset-3 {
        margin-left: 25%
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%
    }
    .col-md-offset-0 {
        margin-left: 0
    }
}
@media (min-width: 1200px) {
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: left
    }
    .col-lg-12 {
        width: 100%
    }
    .col-lg-11 {
        width: 91.66666667%
    }
    .col-lg-10 {
        width: 83.33333333%
    }
    .col-lg-9 {
        width: 75%
    }
    .col-lg-8 {
        width: 66.66666667%
    }
    .col-lg-7 {
        width: 58.33333333%
    }
    .col-lg-6 {
        width: 50%
    }
    .col-lg-5 {
        width: 41.66666667%
    }
    .col-lg-4 {
        width: 33.33333333%
    }
    .col-lg-3 {
        width: 25%
    }
    .col-lg-2 {
        width: 16.66666667%
    }
    .col-lg-1 {
        width: 8.33333333%
    }
    .col-lg-pull-12 {
        right: 100%
    }
    .col-lg-pull-11 {
        right: 91.66666667%
    }
    .col-lg-pull-10 {
        right: 83.33333333%
    }
    .col-lg-pull-9 {
        right: 75%
    }
    .col-lg-pull-8 {
        right: 66.66666667%
    }
    .col-lg-pull-7 {
        right: 58.33333333%
    }
    .col-lg-pull-6 {
        right: 50%
    }
    .col-lg-pull-5 {
        right: 41.66666667%
    }
    .col-lg-pull-4 {
        right: 33.33333333%
    }
    .col-lg-pull-3 {
        right: 25%
    }
    .col-lg-pull-2 {
        right: 16.66666667%
    }
    .col-lg-pull-1 {
        right: 8.33333333%
    }
    .col-lg-pull-0 {
        right: auto
    }
    .col-lg-push-12 {
        left: 100%
    }
    .col-lg-push-11 {
        left: 91.66666667%
    }
    .col-lg-push-10 {
        left: 83.33333333%
    }
    .col-lg-push-9 {
        left: 75%
    }
    .col-lg-push-8 {
        left: 66.66666667%
    }
    .col-lg-push-7 {
        left: 58.33333333%
    }
    .col-lg-push-6 {
        left: 50%
    }
    .col-lg-push-5 {
        left: 41.66666667%
    }
    .col-lg-push-4 {
        left: 33.33333333%
    }
    .col-lg-push-3 {
        left: 25%
    }
    .col-lg-push-2 {
        left: 16.66666667%
    }
    .col-lg-push-1 {
        left: 8.33333333%
    }
    .col-lg-push-0 {
        left: auto
    }
    .col-lg-offset-12 {
        margin-left: 100%
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%
    }
    .col-lg-offset-9 {
        margin-left: 75%
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%
    }
    .col-lg-offset-6 {
        margin-left: 50%
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }
    .col-lg-offset-3 {
        margin-left: 25%
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%
    }
    .col-lg-offset-0 {
        margin-left: 0
    }
}
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
    content: " ";
    display: table
}
.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
    clear: both
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.pull-right {
    float: right!important
}
.pull-left {
    float: left!important
}
.hide {
    display: none!important
}
.show {
    display: block!important
}
.invisible {
    visibility: hidden
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}
.hidden {
    display: none!important
}
.affix {
    position: fixed
}
h2,
h3,
h5,
h6 {
    margin: 1em 0 .6em
}
blockquote,
h1 {
    line-height: 1.2
}
blockquote,
h2 {
    letter-spacing: -1px
}
hr,
table {
    margin-bottom: 3em
}
select,
textarea {
    min-width: 262px
}
.center,
blockquote,
table {
    text-align: center
}
.content,
.page-layout,
blockquote,
body,
form p,
html {
    position: relative
}
.entry-meta,
.entry-meta a,
.spotlight-type,
.filters li,
.nav-menu ul li,
.navigation a,
.post-pagination a,
a.button,
button,
input[type=button],
input[type=submit],
label,
tr th {
    text-transform: uppercase
}
.spotlight-btn,
a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0
}
*,
::before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
html {
    font-size: 100%;
    -webkit-font-smoothing: antialiased
}
body,
html {
    width: 100%;
    height: 100%
}
body {
    font-size: 1em;
    line-height: 1.6;
    -webkit-text-size-adjust: none
}
iframe {
    border: none
}
img {
    max-width: 100%;
    height: auto
}
-webkit-input-placeholder {
    color: #cbb9ff
}
body,
input,
select,
textarea {
    font-family: Roboto, sans-serif /*'Sanchez', serif*/
}
.button,
.filters,
.nav-menu,
.tab-titles,
button,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
input[type=submit],
label,
th {
    font-family: Montserrat, serif/*'Sanchez', serif*/
}
h1 {
    font-size: 1.8em;
    margin: .8em 0 .4em;
    letter-spacing: -2px
}
h2 {
    font-size: 1.2em;
    line-height: 1.3
}
h3 {
    font-size: 1em
}
h4,
h5,
h6 {
    font-size: .75em
}
h4 {
    margin: 2em 0 .6em
}
p {
    margin: 0 0 1.2em;
    line-height: 1.5;
    color: #cdd0d1;
}
blockquote {
    margin: 1.6em 0;
    padding: 0 .8em;
    font-size: 1.4em;
    font-weight: 700
}
blockquote p {
    line-height: 100%
}
blockquote cite {
    display: block;
    font-size: 14px;
    padding-right: 1em;
    margin-top: 1em;
    font-style: normal;
    font-weight: 400;
    color: #B7C6C9;
    letter-spacing: 0
}
dt,
label,
tr th {
    font-weight: 700
}
hr {
    padding: .6em 0 1em;
    outline: 0;
    border-width: 0 0 2px;
    border-style: solid;
    border-color: #eee
}
a[rel=next],
a[rel=prev],
header a,
tfoot tr td {
    border-bottom: 0
}
table {
    font-size: .875em
}
code,
dt,
pre,
tr th {
    font-size: 0.8rem;
}
tr th {
    padding: .8em 1em;
    border-bottom: 2px solid #DDE4E6
}
tr td {
    color: #6A7686;
    padding: .8em 1em .6em;
    border-bottom: 1px solid #eee
}
tr:nth-child(odd) td {
    background: #FAFCFD
}
code,
pre {
    padding: 0 3px 2px;
    margin-bottom: 4em;
    /*font-family: Monaco, Menlo, Consolas, "Courier New", monospace;*/
    color: #333;
    white-space: pre;
    overflow: auto
}
code {
    display: inline-block;
    margin: 0 .4em;
    padding: 1px 6px;
    background: #1c262b
}
ol,
ul {
    margin: .2em 0 1em
}
ul {
    list-style: disc
}
.filters,
.nav-menu ul,
.social {
    list-style: none
}
dt {
    margin-bottom: .4em
}
dd {
    padding-bottom: 1em;
    margin-left: 1.4em
}
@media (max-width: 767px) {
    .col-xs-6:nth-child(2n+1) {
        clear: left
    }
    .layout-fixed {
        margin: 0 auto
    }
}
form p {
    margin: 1.6em 0
}
label {
    display: block;
    font-size: 11px;
    margin-bottom: .2em;
    color: #fff
}
textarea {
    width: 100%;
    min-height: 12em
}
.inline-label {
    display: inline-block;
    margin-right: 2em;
    font-weight: 400;
    color: #6A7686;
    letter-spacing: 0
}
.cf:after,
.cf:before,
.entry-content:after,
.entry-content:before {
    content: " ";
    display: table
}
.cf:after,
.entry-content:after {
    clear: both
}
.easing,
.filters li a,
.media-box .mask {
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.button,
.comment a,
.easing-short,
.entry-meta a,
.entry-title a,
.format-link .entry-content>p:first-child a:first-child,
.latest-posts article header a,
.more-link,
.nav-menu li a,
.nav-single a,
.navigation a,
.pagination a,
.portfolio-nav a,
.social li a,
input,
textarea {
    -webkit-transition: all .1s;
    transition: all .1s
}
.site,
.site-main {
    height: 100%
}
.site-main {
    padding-top: 50px
}
.page-layout {
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center center;
    background-color: #000;
    color: #fff
}
.content {
    z-index: 10;
    text-align: left
}
.entry-title,
.header-bottom,
.nav-menu ul,
.social,
.social li a,
.toggle-link {
    text-align: center
}
.content>div {
    padding: 2em 0 3em
}
.layout-fixed,
.layout-full,
.layout-medium {
    width: 90%;
    margin: 0 auto
}
.layout-fixed {
    max-width: 700px;
    margin: 0 3rem
}
.layout-medium {
    max-width: 1200px
}
.hentry {
    padding: 0 0 2em
}
.entry-header {
    padding-top: 2em
}
.entry-title {
    margin: 0
}
.entry-content {
    margin: 1.2em 0 0
}
.toggle-link {
    display: block;
    width: 50px;
    line-height: 50px;
    height: 50px;
    cursor: pointer;
    overflow: hidden;
    color: #fff
}
.toggle-link:hover {
    color: rgba(255, 255, 255, .9)
}
.menu-toggle {
    position: absolute;
    top: 0;
    left: 0;
    border-right: 2px solid rgba(255, 255, 255, .08)
}
.is-menu-toggled-on .menu-toggle {
    color: rgba(255, 255, 255, .8)
}
.menu-toggle:before {
    content: "\e800";
    font-size: 18px
}
.nav-menu ul {
    padding: 0;
    margin: 0;
    overflow: auto
}
.nav-menu ul li {
    font-size: 10px;
    letter-spacing: .07em;
    border-bottom: 1px solid rgba(225, 246, 255, .07)
}
.nav-menu ul i {
    display: block;
    margin-bottom: .2em
}
.nav-menu ul i:before {
    display: inline-block;
    font-size: 2.5em;
    line-height: 1
}
.nav-menu a {
    display: block;
    padding: 1.3em 1em;
    color: rgba(225, 246, 255, .45)
}
.nav-menu a:hover {
    color: rgba(225, 246, 255, .7)
}
.nav-menu .current_page_item a {
    color: #fff
}
@media screen and (min-width: 768px) and (max-height: 630px) {
    .nav-menu a {
        padding: 1em .5em
    }
    .nav-menu ul i:before {
        display: none
    }
}
.header .social li,
.social li {
    display: inline-block
}
@media screen and (min-width: 768px) and (min-height: 600px) and (max-height: 767px) {
    .nav-menu a {
        padding: 1.1em .5em
    }
    .nav-menu ul i:before {
        font-size: 2.2em
    }
}
@media screen and (min-width: 768px) and (min-height: 768px) {
    .nav-menu a {
        padding: 2em 1em
    }
    .nav-menu ul i:before {
        font-size: 2.8em
    }
}
.header-bottom {
    width: 100%;
    margin-top: 2em
}
.header .social {
    margin: 1em 0;
    padding: 0 6px
}
.social {
    padding: 0;
    margin: 2em 0 4em
}
.social li {
    padding: 0;
    margin-bottom: -3px
}
.social li a {
    display: block;
    float: left;
    margin: 0 .4em .3em 0;
    font-size: 15px;
    font-family: fontello;
    width: 52px;
    line-height: 50px;
    color: inherit;
    border: 1px solid rgba(28, 38, 43, .1);
    border-radius: 50%
}
.header .social li a {
    font-size: 15px;
    height: auto;
    border: 0;
    line-height: 22px;
    width: 18px;
    margin: 0;
    border-radius: 4px;
    float: none;
    color: rgba(225, 246, 255, .3)
}
.copy-text p,
.filters li a {
    font-size: 12px
}
.header .header-bottom .social li a:hover {
    background: 0 0;
    color: rgba(255, 255, 255, .7)
}
.filters {
    /*padding:0 20px;margin:1em 0*/
}
.filters li {
    margin: .6em 1em;
    width: 9rem
}
.filters li a {
    display: block;
    padding: .4em 0;
    color: #fff;
    font-weight: 700;
    border: 0
}
.filters li a:hover {
    opacity: .5
}
.filters li img {
    width: 20px;
    margin: 0 5px 0 0
}
.filters li img.career {
    background: #fff;
    padding: .1rem
}
.filters .current a,
.filters .current a:hover {
    border-bottom: 2px solid
}
.media-grid {
    min-height: 400px;
    width: 100%
}
.media-grid:after {
    display: block;
    content: '';
    clear: both;
}
.media-grid .media-cell {
    padding: 0 10px;
    margin-bottom: 20px;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}
.media-grid .media-box {
    margin-bottom: 0
}
.media-cell-desc {
    position: relative;
    padding: 28px 40px;
    background: #1c262b
}
.media-cell-desc h3 {
    padding: 0;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 1.5rem;
    color: #cbb9ff;
    line-height: 1.4;
    text-align: left;
    margin: 0 0 1rem
}
.media-cell-desc h3 a {
    color: #cbb9ff;
    font-weight: 400;
    border: 0
}
.media-cell-desc p {
    font-size: .875em;
    margin: 0;
    color: #a7b6b9;
    text-align: left
}
.media-cell-desc .date {
    text-align: center;
    font-style: italic;
    color: #ccc;
    font-size: 14px;
    line-height: 1;
    border-radius: 102px;
    position: absolute;
    top: -28px;
    left: 50%;
    margin-left: -28px;
    min-width: 56px;
    min-height: 56px;
    background: #FFF
}
.media-box .mask,
.media-box a {
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}
.media-cell-desc .date .day {
    display: block;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -2px;
    margin-top: 8px;
    color: #cbb9ff
}
.media-box {
    position: relative;
    margin-bottom: 30px;
    background-color: #1c262b
}
.media-box a {
    position: absolute;
    background: #fff
}
.media-box a:nth-of-type(n+2) {
    display: none
}
.media-box img {
    display: block;
    width: 100%
}
.media-box .mask {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
    background: #33475D;
    background: rgba(51, 71, 93, .6)
}
.media-box:hover .mask {
    opacity: 1;
    filter: alpha(opacity=100)
}
.media-box .mask:before {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -33px 0 0 -33px;
    width: 66px;
    line-height: 66px;
    font-size: 66px;
    text-align: center;
    content: "\e69d";
    color: #fff
}
.video.hentry .mask:before {
    content: "\e6a5"
}
.audio.hentry .mask:before {
    content: "\e62f"
}
.image.hentry .mask:before {
    content: "\e6bf"
}
.url.hentry .mask:before {
    content: "\e6bc"
}
.latest-posts {
    margin-top: 2em
}
.latest-posts .media-cell-desc {
    padding-top: 3em
}
.latest-posts .mask:before {
    content: "\e62e"
}
.blog-single .entry-content>p:first-child:first-letter,
.drop-cap:first-letter {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.15;
    float: left;
    padding: 0 12px 0 0;
    text-transform: uppercase
}
a.button,
button,
input[type=button],
input[type=submit] {
    display: inline-block;
    position: relative;
    padding: 1.1em 2em;
    margin-bottom: .25em;
    font-size: .9rem;
    font-weight: 700;
    line-height: 1.2;
    outline: 0;
    border: 2px solid #cbb9ff;
    color: #cbb9ff;
    text-shadow: none;
    background: 0 0;
    border-radius: 0
}
.blog-regular .hentry {
    padding-bottom: 2em
}
.entry-title a {
    color: inherit
}
.entry-meta,
.entry-meta a {
    color: #DCDFE2
}
.post {
    text-align: center
}
.post .entry-title {
    margin-top: 0
}
.post .entry-content {
    max-width: 440px;
    /*margin:auto*/
}
.entry-meta {
    font-weight: 700;
    font-size: 12px;
    margin-top: 1em;
    text-align: center
}
.entry-meta span {
    margin-right: 8px;
    margin-bottom: 12px
}
.entry-meta .cat-links a {
    display: inline-block;
    color: #fff;
    background: #8ACB82
}
.entry-meta .cat-links a:hover {
    opacity: .9
}
.entry-meta a {
    padding: 2px 8px;
    margin: 0 4px 4px 0;
    font-weight: 700
}
.navigation a,
.post-pagination a,
.related-posts a {
    color: inherit
}
.entry-content a.more-link:hover,
.navigation a:hover,
.post-pagination a:hover {
    color: #fff;
    border-color: transparent
}
.entry-content a.more-link:active,
.navigation a:active,
.post-pagination a:active,
.related-posts a:active {
    opacity: .8
}
.spotlight-image {
    margin-top: 1.4em
}
.spotlight-image img {
    display: block;
    margin: 0 auto
}
.hentry .entry-header:before {
    font-size: 28px;
    color: #DCDFE2;
    display: block;
    text-align: center;
    padding-bottom: .3em
}
.hentry.sticky .entry-header:before {
    content: "\e69b"
}
.navigation,
.post-pagination {
    padding: 3em 0;
    font-size: 11px;
    letter-spacing: 2px;
    overflow: auto
}
.navigation>div {
    width: 50%;
    float: left
}
.navigation a,
.post-pagination a {
    display: inline-block;
    padding: 1.5em 2em;
    color: #6A7686;
    border: 1px solid #DDE4E6
}
.navigation .nav-next {
    text-align: right
}
.navigation .meta-nav {
    margin-right: .5em
}
.navigation .nav-next .meta-nav {
    margin-left: .5em;
    margin-right: 0
}
.post-pagination ul {
    list-style: none;
    text-align: center;
    padding: 0
}
.post-pagination li {
    display: inline-block;
    font-size: .9em;
    margin: .3em .1em
}
.post-pagination li a {
    padding: .8em 1.4em;
    margin: 0 4px
}
.post-pagination li.current a,
.post-pagination li.current a:hover {
    border-color: #6A7686;
    font-weight: 800;
    background: #fff;
    color: #6A7686;
    cursor: default
}
.blog-single .hentry {
    padding-bottom: 2em
}
.blog-single .entry-meta {
    line-height: 1.9;
    text-align: center;
    padding-bottom: 20px
}
.blog-single .entry-content {
    text-align: left
}
.related-posts {
    text-align: center;
    background: #1c262b;
    padding: 1rem
}
.related-posts .media-grid {
    min-height: 0;
    overflow: hidden
}
.related-posts .media-grid .media-cell {
    margin-bottom: 0
}
.related-posts .mask:before {
    font-size: 32px
}
.related-posts .media-cell-desc {
    padding: 20px
}
body {
    color: #cbb9ff;
    background: #000;
    margin: 30px 0 0;
    position: relative;
    overflow-x: hidden;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}
.header,
.header-wrap {
    position: fixed;
    top: 0
}
.is-menu-toggled-on body {
    overflow: hidden;
    left: 0;
    -ms-transform: translate(120px, 0);
    -webkit-transform: translate(120px, 0);
    transform: translate(120px, 0)
}
.is-menu-toggled-on .page-current,
.is-menu-toggled-on .site,
.is-menu-toggled-on .site-main {
    overflow: hidden;
    max-height: 100%
}
.header {
    width: 100%;
    z-index: 200;
    height: 50px;
    color: rgba(225, 246, 255, .3)
}
.header-wrap {
    z-index: 2000;
    width: 120px;
    left: -120px;
    bottom: 0;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
}
.site-title {
    display: none;
    position: absolute;
    top: 0;
    left: 70px;
    width: 252px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0;
    color: #fff
}
.mobile-title {
    display: block
}
.header-wrap img.logo {
    max-height: 100%;
    padding: 1rem
}
.header,
.header-wrap {
    background: #1c262b
}
@media screen and (min-width: 768px) {
    .site-title {
        background: #551254
    }
}
blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #b0b0b0
}
a {
    color: #cbb9ff;
    font-weight: 700;
    border-bottom: 2px solid
}
a:hover {
    color: #ffd1b9
}
.category a {
    font-weight: 400;
    border: 0;
    color: #fff
}
@media (max-width: 767px) {
    .layout-fixed {
        margin: 0 auto
    }
}
.aside {
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 300px;
    padding: 0 0 0 30px
}
.aside-wrap {
    border: 1px solid #d9e1ef;
    border-radius: 3px;
    background: #fbfcff;
    padding: 30px
}
@media screen and (max-width: 1100px) {
    .aside {
        position: static;
        width: 100%;
        padding: 50px 0 0;
        margin: 50px 0 0;
        border-top: 1px solid #e6edfb
    }
}
.spotlight {
    background: #3a4250;
    padding: 25px 0;
    margin: 0 0 25px;
    border-radius: 4px;
    text-align: center
}
.spotlight-btn,
.signup-form {
    background:
    /*#a1055e*/
    
    #026C7C;
    text-align: center
}
.spotlight p {
    margin: 0;
    color: #fff!important
}
.spotlight-type {
    letter-spacing: 2px;
    font-size: 11px!important
}
.spotlight-desc {
    display: block;
    color: #fff;
    padding: 0 25px;
    margin: 0 0 15px
}
.spotlight-name {
    letter-spacing: 2px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    font-family: Montserrat, serif; /*'Sanchez', serif;*/
    padding: 1rem 0
}
.spotlight a {
    border: 0;
}
.spotlight img {
    margin: 20px 0;
    width: 40%
}
.spotlight-btn {
    color: #fff;
    border: 0;
    line-height: 1;
    padding: 14px 30px;
    margin: 10px 0 0;
    font-size: 17px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer
}
.spotlight-btn:hover {
    color: #fff
}
.signup-form {
    flex: 1 0 33.33%;
    margin: -1px 0 0;
    overflow: hidden;
    position: relative;
    padding: 30px 20px;
    color: #fff
}
@media screen and (max-width: 1100px) {
    .spotlight img {
        width: 40%
    }
    .signup-form {
        flex: 1 0 50%
    }
}
@media screen and (max-width: 580px) {
    .signup-form {
        flex: 1 0 100%
    }
}
.signup-form.signup-form--sidebar {
    border-radius: 4px;
    margin: 25px 0
}
.signup-form__title {
    margin: 0;
    font-size: 22px
}
.signup-form__title img {
    padding: .5rem;
    border-radius: 3px;
    display: inline-block;
    width: 55px
}
.signup-form__title span {
    margin: 15px 0 0;
    display: block;
    color: #fff
}
.signup-form__sub {
    font-size: 16px;
    color: #fff!important
}
.signup-form form {
    position: relative;
    width: 100%
}
.signup-form form input.email {
    -webkit-appearance: none;
    background: rgba(0, 0, 0, .1);
    outline: 0;
    width: 100%;
    margin: 0;
    border: 0;
    color: #fff;
    height: 50px;
    font-size: 16px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 15px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    text-align: center
}
.signup-form form input.email:focus,
.signup-form form input.email:hover {
    background: rgba(0, 0, 0, .15)
}
.signup-form form input.email::-webkit-input-placeholder {
    color: #fff
}
.signup-form form button {
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    cursor: pointer;
    padding: 0 25px;
    background: #fff;
    color: #4a8fb7;
    border-radius: 0 0 4px 4px;
    text-align: center
}
.signup-form form button img {
    position: absolute;
    top: 8px;
    right: 15px
}
.post-card__meta {
    font-size: 14px;
    height: 40px;
    color: #b0b0b0;
    position: relative;
    padding: 5px 20px 5px 40px;
    display: flex;
    align-items: center;
    left: 10%;
    line-height: 1.5;
    top: 10px
}
@media only screen and (max-width: 600px) {
    .post-card__meta {
        flex: 0 0 40%
    }
}
.post-card__tag {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 4px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0
}
.post-card a {
    display: block;
    color: #545e6f;
    transition: all .2s ease
}
.post-card a:hover {
    color: #949eae
}
.post-card p {
    margin: 0
}
.post-card__title {
    font-size: 22px;
    line-height: 28px;
    margin: 30px 0
}
.post-card__container {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    width: 300px
}
.sticky-search {
    background: #1c262b;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 120px;
    right: 0
}
.search-wrap {
    padding: 0 15px 0 20px;
    position: relative;
}
.search input {
    width: 100%;
    padding: 8px 15px;
    outline: 0;
    background: #2f3644;
    color: #fff;
    border: 0;
    max-width: none
}
@media screen and (max-width: 767px) {
    .sticky-search {
        height: 50px;
        top: 0;
        left: 140px;
        padding: 0;
        margin: 0;
        width: 60%
    }
    .search {
        margin-top: 4px
    }
    body {
        margin: 0
    }
}
@media screen and (min-width: 768px) {
    h1 {
        font-size: 3em;
        letter-spacing: -4px
    }
    h2 {
        font-size: 2em
    }
    h3 {
        font-size: 1.4em;
        line-height: 1.3;
        letter-spacing: -1px
    }
    h4 {
        font-size: 1em
    }
    .header {
        height: 100%;
        width: 120px
    }
    .header-wrap {
        left: 0;
        bottom: 0;
        text-align: center
    }
    .menu-toggle {
        display: none
    }
    .search-wrap {
        padding: 15px 15px 15px 20px;
    }
    .site-title {
        display: block;
        position: static;
        width: auto;
        line-height: 1.2;
        text-align: center;
        padding: .8em;
        margin: 0 0 1.5rem;
    }
    .site-title a {
        color: #fff;
    }
    .mobile-title {
        display: none
    }
    .header-bottom {
        position: absolute;
        bottom: 0
    }
    .site-main {
        margin-left: 120px;
        padding-top: 0
    }
    .hentry {
        padding: 0 0 4em
    }
    .entry-header {
        padding-top: 4em
    }
    .entry-title {
        margin-top: .4em
    }
    .entry-content {
        margin-top: 3em
    }
    .http-alert h1 {
        font-size: 14em
    }
    .row [class^=col-]:nth-child(n) .process:after {
        display: inline-block
    }
    .row [class^=col-]:last-child .process:after {
        display: none
    }
    blockquote {
        font-size: 2em;
        padding: 0 3em
    }
    blockquote:before {
        font-size: 1em
    }
    .contact-form p,
    nf-field:nth-child(1),
    nf-field:nth-child(2) {
        width: 50%;
        float: left
    }
    .contact-form p:nth-of-type(1),
    nf-field:nth-child(1) {
        padding-right: 32px
    }
    .contact-form p:nth-of-type(n+3) {
        width: 100%
    }
    .media-grid .media-cell {
        padding: 0 20px;
        margin-bottom: 40px;
        float: left;
        width: 50%
    }
    .event {
        padding: 0 1em 3em 4em
    }
    .event h3 {
        margin-left: -1.6em
    }
    .event .fa,
    .event [class*=" icon-"],
    .event [class^=icon-] {
        font-size: 25px;
        top: -16px;
        left: -20px;
        width: 66px;
        line-height: 66px;
        margin: 0;
        z-index: 120
    }
    .portfolio-single .entry-content {
        padding-top: 2em
    }
    .portfolio-single .entry-content .fluid-width-video-wrapper,
    .portfolio-single .entry-content iframe,
    .portfolio-single .entry-content img,
    .portfolio-single .entry-content video {
        margin-bottom: 4em
    }
    .mini-text {
        margin: 2em auto 5em
    }
    .mini-text .button {
        margin: 3em 0
    }
    .home-section .content>div {
        font-size: 150%
    }
    .home-section h2,
    .home-section h3 {
        line-height: 1;
        margin: 0;
        letter-spacing: -3px
    }
    .home-section h2 {
        letter-spacing: -4px
    }
    .home-section h4 {
        font-size: .75em
    }
    .post .entry-content .gallery,
    .post .entry-content>p img:not(.alignleft):not(.alignright) {
        width: 132%;
        max-width: none;
        margin-left: -16%
    }
    .format-link .entry-content>p:first-child a:first-child {
        font-size: 1.2em
    }
    .related-posts .media-grid .media-cell {
        float: left;
        width: 33.33%;
        margin: 0 0 1rem
    }
    .comments-area {
        padding: 2em 0
    }
    .comments-area .commentlist {
        padding-bottom: 2em
    }
    .comments-area article {
        padding: .8em 0;
        margin-top: 1em
    }
    .comment-meta img {
        max-width: 66px;
        position: absolute;
        top: 14px;
        left: 0
    }
    .comment-content,
    .comment-meta {
        margin-left: 84px
    }
    .comment-content p {
        font-size: .925em
    }
    .comments-area ol ol {
        margin-left: 8%
    }
    #respond form p {
        margin-bottom: 0
    }
    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
        float: left;
        width: 30%;
        margin-right: 3%
    }
    .comment-form-url {
        width: 34%;
        margin-right: 0
    }
    .form-allowed-tags,
    .form-submit {
        clear: left
    }
    .form-submit {
        padding-top: 2em
    }
    .site-footer {
        margin-top: 4em
    }
    .site-footer .widget-area .widget {
        width: 33.3%;
        float: left;
        padding: 0 1.5em 1em 1em
    }
    .site-footer .widget-area .widget:first-child {
        padding-left: 0
    }
    .site-footer .widget-area .widget:nth-child(3n) {
        padding-right: 0
    }
    .null-instagram-feed ul li,
    .social-feed ul li {
        width: 50%
    }
    .null-instagram-feed ul li img,
    .social-feed ul li img {
        max-width: 100%;
        width: 100%
    }
}
@media screen and (min-width: 992px) {
    .section-title {
        margin: 3em 0 2em
    }
    .service h4,
    .service p {
        margin-left: 0
    }
    .media-grid .media-cell {
        float: left;
        width: 33.33%
    }
    .service {
        padding: .6em 0 0;
        text-align: center
    }
    .service i,
    .service img {
        float: none;
        width: auto;
        max-width: 84px;
        line-height: 1;
        font-size: 64px;
        margin-bottom: 18px
    }
    .service h4 {
        margin-bottom: .8em
    }
    .post .entry-content .gallery,
    .post .entry-content>p img:not(.alignleft):not(.alignright) {
        width: 158%;
        margin-left: -29%
    }
    .blog-single .entry-content {
        max-width: 100%
    }
    .null-instagram-feed ul li,
    .social-feed ul li {
        width: 33.3%
    }
}
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 4em;
        line-height: 1
    }
    .row {
        margin-left: -30px;
        margin-right: -30px
    }
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-xs-1,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9 {
        padding-left: 30px;
        padding-right: 30px
    }
    .process {
        width: 108px;
        height: 108px;
        padding: 20px 10px
    }
    .process i {
        font-size: 48px
    }
    .process h4 {
        font-size: 11px;
        margin-top: 5px
    }
    .fun-fact {
        padding-right: 0;
        margin-bottom: 0;
        text-align: left
    }
    .fun-fact i {
        float: left;
        font-size: 66px
    }
    .fun-fact img {
        float: left;
        max-width: 66px
    }
    .fun-fact h4 {
        margin-left: 82px;
        padding-top: 16px;
        max-width: 160px;
        font-size: 14px
    }
    .client img {
        max-height: 66px
    }
}
@media screen and (min-width: 1400px) {
    .entry-header {
        padding-top: 3rem
    }
    .section-title {
        margin: 4.4em 0 2.4em
    }
    .home-section .content>div {
        font-size: 250%
    }
    .home-section h2 {
        letter-spacing: -4px
    }
    .home-section h4 {
        font-size: .6em
    }
    .http-alert h1 {
        font-size: 18em;
        margin-bottom: .25em
    }
}
/*@media screen and (min-width:1660px){.section-title{margin:6em 0 3em}.filters{margin:2em 0}}*/

.toc {
    background: #1c262b;
    padding: 2rem;
    margin: 0 0 1rem;
    border-radius: 5px;
    display: block
}
.toc ul,
.toc ol {
    margin: 0;
}
.toc li {
    list-style: square;
    margin: 0 0 .5rem
}
.toc li a {
    font-weight: normal;
    border: 0;
    /*color:#ffd1b9;*/
}
.toc_h {
    font-size: 1.2rem;
}
.mobile-title a {
    color: #fff;
}
.pagination {
    text-align: center;
    padding: .5rem 0;
    width: 97%;
    margin: 0 auto
}
.pagination li {
    display: inline-block;
    list-style: none
}
.pagination li.prev a,
.pagination li.next a {
    border: 0;
    text-decoration: none
}
.pagination a {
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 0
}
.pagination a.active {
    color: #fff;
    border-bottom: 2px solid
}
.pagination a:hover:not(.active) {
    background-color: #fff;
    color: #026c7c
}
@media screen and (max-width: 1100px) {
    .pagination li:not(.prev):not(.next) {
        display: none
    }
}
.masterchef {
    letter-spacing: 2px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    width: 100px;
    line-height: 1.5
}
.courses {
    background-color: #551254;
    padding: 24px 64px 32px;
    cursor: pointer;
    color: #fff
}
.courses--top *,
.courses--bottom * {
    color: #fff;
    margin: 0
}
.courses--top h4,
.courses--bottom h4 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 2rem 0 1rem
}
.courses--top a,
.courses--bottom a {
    border: 0
}
.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 3rem 0 0;
    padding: 0
}
@media screen and (max-width: 849px) {
    .courses {
        padding: 85px 64px 32px
    }
    .courses--top,
    .courses--bottom {
        position: relative
    }
    .site-main {
        padding: 0
    }
    .courses__logo {
        display: block
    }
    .courses .spotlight-btn {
        display: block;
        max-width: 200px;
        margin: 2rem 0
    }
}
@media screen and (min-width: 850px) {
    .top-card {
        position: fixed;
        top: 6rem;
        z-index: 10
    }
    .bottom-card {
        position: relative;
        z-index: 10
    }
    .courses {
        height: 250px;
        position: relative
    }
    .courses--top {
        z-index: 9998;
        position: fixed;
        top: 70px;
        left: 120px;
        right: 0
    }
    .courses--bottom {
        z-index: 9998;
        position: relative;
        left: 0;
        right: 0
    }
    .page-layout {
        position: relative;
        top: 2rem;
        z-index: 11
    }
    .filters {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 12;
        background: #1c262b;
        padding: .5rem 0 0;
        width: 100%;
    }
    .spotlight_btn {
        position: fixed;
        right: 23rem;
        top: 10rem
    }
    .courses--bottom .spotlight_btn {
        position: absolute;
        right: 23rem;
        top: 10rem
    }
    .masterchef {
        position: fixed;
        top: 95px;
        left: 280px
    }
    .courses--bottom .masterchef {
        position: absolute;
        top: 1.7rem;
        left: 10rem
    }
}
.search-results {
    padding: 0;
    margin: 0;
    max-height: 100px;
    overflow-y: scroll;
    background: #1c262b;
    position: absolute;
    width: 100%;
    left: 0;
}
.search-results li {
    list-style: none
}
.search-results li:nth-child(odd) {
    background: #000
}
.search-results li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border: 0;
    padding: .5rem
}
.search-results .not-found {
    padding: .5rem
}
.sharing-is-caring {
    text-align: left;
    margin: 1rem 0 0;
    background: #1c262b;
    padding: 1rem 4rem 3rem
}
.sharing-is-caring h2 {
    color: #fff;
}
.highlight .hll,
.highlight pre,
pre {
    white-space: pre;
    font-size: 16px;
    line-height: 24px;
    margin: 0
}
pre code {
    display: block;
    color: #c4d1e1;
    -webkit-overflow-scrolling: touch
}
@media screen and (max-width: 850px) {
    pre code {
        padding: 40px
    }
}
.highlight {
    padding: 0;
    margin: 0
}
.highlight .hll {
    background-color: #ffc
}
.highlight .gd {
    color: #2e3436;
    background-color: #0e1416
}
.highlight .gr {
    color: #eeeeec;
    background-color: #c00
}
.highlight .gi {
    color: #babdb6;
    background-color: #1f2b2d
}
.highlight .go {
    color: #2c3032;
    background-color: #2c3032
}
.highlight .kt {
    color: #e3e7df
}
.highlight .ni {
    color: #888a85
}
.highlight .c,
.highlight .c1,
.highlight .cm,
.highlight .cs {
    color: #93a4c1
}
.highlight .bp,
.highlight .err,
.highlight .g,
.highlight .ge,
.highlight .gp,
.highlight .gs,
.highlight .gt,
.highlight .l,
.highlight .ld,
.highlight .n,
.highlight .nc,
.highlight .nd,
.highlight .ne,
.highlight .nl,
.highlight .nn,
.highlight .nx,
.highlight .ow,
.highlight .p,
.highlight .py,
.highlight .s,
.highlight .s1,
.highlight .s2,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sr,
.highlight .ss,
.highlight .sx,
.highlight .w,
.highlight .x {
    color: #C1C2C3
}
.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .nt {
    color: #bd4f90
}
.highlight .cp,
.highlight .gh,
.highlight .gu,
.highlight .nf {
    color: #E9A94B
}
.highlight .il,
.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .nb,
.highlight .no {
    color: #8ae234
}
.highlight .o {
    color: #989DAA
}
.highlight .s1,
.highlight .s2 {
    color: #a6fc5e
}
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi {
    color: #fff
}
