<ul id="filters" class="filters">
    <li class="current"><a href="#">All</a></li>
    <li><a href="./"><img src="uploads/js.svg" alt="JS">JavaScript</a></li>
    <li><a href="./filter/angular-js"><img src="uploads/angularjs.svg" alt="AngularJS">AngularJS</a></li>
    <li><a href="./filter/angular"><img src="uploads/angular.svg" alt="Angular">Angular</a></li>
    <li><a href="./filter/typescript"><img src="uploads/typescript.svg" alt="Typescript">Typescript</a></li>
    <li><a href="./filter/react"><img src="uploads/react.svg" alt="React">React</a></li>
    <li><a href="./filter/node"><img src="uploads/node.svg" alt="Node">Node</a></li>
    <li><a href="./filter/rxjs"><img src="uploads/rxjs.svg" alt="RxJS">RxJS</a></li>
    <li><a href="./filter/css"><img src="uploads/css.svg" alt="CSS">CSS</a></li>
    <li><a href="./filter/career"><img src="uploads/career.svg" class="career" alt="Career">Career</a></li>
</ul>
