<header class="header" id="masthead">
    <a class="menu-toggle toggle-link" id="menu-toggle"></a>
    <h1 class="site-title mobile-title"><a href="index.html">JS COOKS</a></h1>
    <div class="header-wrap">
        <a href="index.html"><img alt="Empathy" src="logo_jcoox.svg" class="logo"></a>
        <!--<h1 class="site-title"><a href="index.html">JS COOKS</a></h1>-->
        <nav class="site-navigation primary-navigation" id="primary-navigation" role="navigation">
            <div class="nav-menu">
                <ul class="menu-auto">
                    <li class="current_page_item">
                        <a href="./index.html">blog</a>
                    </li>
                    <li>
                        <a href="./about.html">about</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="header-bottom">
            <div class="textwidget">
                <ul class="social">
                    <li>
                        <a class="twitter" href="https://twitter.com/jscoox" target="_blank">
                            <img src="-res/img/twitter.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="github" href="https://github.com/jscoox" target="_blank">
                            <img src="-res/img/github.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="copy-text">
                <div class="widget_text" id="text-2">
                    <div class="textwidget">
                        <p>&copy; 2017 JSCooks</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="sticky-search">
    <div class="search-wrap">
        <form class="search">
            <input type="text" id="search-input" placeholder="Search posts">
            <ul class="search-results"></ul>
        </form>
    </div>
</div>
