---
layout: default
---
<div class="blog-single page-layout">
    <div class="layout-fixed">
        <article id="post-382" class="post type-post status-publish hentry">
            <header class="entry-header">
                <h1 class="entry-title">{{ page.title }}</h1>

                <div class="entry-meta">
                    <div class="post-card__container">
                        <div class="post-card__meta">
                            <div class="post-card__tag">
                                <img src="http://www.jscooks.com/-res/img/js.svg" alt="">
                            </div>
                            {{ page.date | date_to_string }}
                        </div>

                        <div class="post-card__meta">
                            <div class="post-card__tag">
                                <img src="http://www.jscooks.com/-res/img/clock.svg" alt="read time">
                            </div>
                            {% assign words = content | strip_html | number_of_words %}
                            {% if words < 400 %}
                            1 min read
                            {% else %}
                            {{ words | divided_by:200 }} min read
                            {% endif %}
                        </div>
                    </div>
                </div>
            </header>

            <div class="entry-content">
                <div class="toc" markdown="1">
                    <span class="gamma">Table of contents</span>
                    {:.no_toc}
                    * TOC
                    {:toc}
                </div>

                {{ content }}
            </div>

        </article>
    </div>

    {% include share.html %}

    {% include aside.html %}
</div>
